.layout-wrapper{
  /*   min-height: 100vh; */
}
.layout-main{
  margin-top: var(--layout-height-header);
  padding: 2rem;
  width: calc(100% - var(--layout-sidebar-width));
  margin-left: var(--layout-sidebar-width);
  transition: margin-left 0.2s ease-in-out;
}